# Environment variables
.env
.env.production




# Dependencies
node_modules/
package-lock.json

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Certificates
*.pem
*.key
*.crt